extends ../layout/main

block variables
  - const pageTitle = 'Главная'

block content
  include ../modules/header

  .fullPageNav
    .fullPageNav__delimiter.fullPageNav__delimiter--first
    .fullPageNav__item.fullPageNav__item--active(data-number=1)
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=2)
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=3)
    .fullPageNav__delimiter.fullPageNav__delimiter--last

  section(style='background-image: url(./media/image/home.jpg)').fullPage.home__first
    .first__content.main-container
      .first__text ПОСТАВЛЯЕМ
      h2.first__title Вспомогательные #[br] средства для сахарного #[br] производства
      .first__buttons
        button.first__button Антинакипины
        button.first__button Пеногасители
      .first__buttons
        button.first__button Биоциды
        button.first__button Флокулянты

    .main-container.first__button-down-container
      button.first__button-down

  section.fullPage.home__about


  section.fullPage
    h1 page -- 3