extends ../layout/main

block variables
  - const pageTitle = 'Главная'

block content
  include ../modules/header

  //.fullPageNav
  //  .fullPageNav__item(data-number=1) 1
  //  .fullPageNav__item(data-number=2) 2
  //  .fullPageNav__item(data-number=3) 3

  section(style='background-image: url(./media/image/home.jpg)').fullPage.home__first

  section.fullPage
    h1 page 2

  section.fullPage
    h1 page -- 3