extends ../layout/main

block variables
  - const pageTitle = 'Главная'

block content
  include ../modules/header

  .fullPageNav
    .fullPageNav__delimiter.fullPageNav__delimiter--first
    .fullPageNav__item.fullPageNav__item--active(data-number=1)
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=2)
    .fullPageNav__delimiter
    .fullPageNav__item(data-number=3)
    .fullPageNav__delimiter.fullPageNav__delimiter--last

  section(style='background-image: url(./media/image/home.jpg)').fullPage.home__first

  section.fullPage
    h1 page 2

  section.fullPage
    h1 page -- 3