extends ../layout/main

block variables
  - const pageTitle = 'Продукт'

block content
    include ../modules/header-white
    include ../modules/prelouder
    include ../modules/mobile-modal
    include ../modules/main-modal 

    section.products
        //- .opacity-block
        //- .opacity-block2
        .m-container 
            .m-row
                .m-col
                    .products-title
                        h1 Наша продукция

           
        .product-slider
            
            .owl-carousel.owl-theme
                .item
                    a(href="#")
                        .slider-content
                            img(src="./media/icon/slider-icon1.svg", alt="icon").img-elem
                            .hidden-block
                                img(src="./media/image/barrel.png", alt="image").hidden-img
                                img(src="./media/icon/barrel-product.svg", alt="icon").hidden-img2
                            h2 Антинакипины
                            p.hidden-text DEFOSPUM  

                .item
                     a(href="#")
                        .slider-content
                            img(src="./media/icon/slider-icon1.svg", alt="icon").img-elem
                            .hidden-block
                                img(src="./media/image/barrel.png", alt="image").hidden-img
                                img(src="./media/icon/barrel-product.svg", alt="icon").hidden-img2
                            h2 Антинакипины
                            p.hidden-text DEFOSPUM  

                .item
                     a(href="#")
                        .slider-content
                            img(src="./media/icon/slider-icon1.svg", alt="icon").img-elem
                            .hidden-block
                                img(src="./media/image/barrel.png", alt="image").hidden-img
                                img(src="./media/icon/barrel-product.svg", alt="icon").hidden-img2
                            h2 Антинакипины
                            p.hidden-text DEFOSPUM                            