.main-container {
  width: 100%;
  margin: 0 60px 0 230px;
  position: relative;

  &__last {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 522px;
  }
}

.m-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.m-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.m-col {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;

  &--1 {
    max-width: calc(100% / 10 * 1)
  }

  &--2 {
    max-width: calc(100% / 10 * 2)
  }

  &--3 {
    max-width: calc(100% / 10 * 3)
  }

  &--4 {
    max-width: calc(100% / 10 * 4)
  }

  &--5 {
    max-width: calc(100% / 10 * 5)
  }

  &--6 {
    max-width: calc(100% / 10 * 6)
  }

  &--7 {
    max-width: calc(100% / 10 * 7)
  }

  &--8 {
    max-width: calc(100% / 10 * 8)
  }

  &--9 {
    max-width: calc(100% / 10 * 9)
  }
}