@media screen and (max-width: 991px) {
  // header
  .header {
    .header__humb {
      display: block;
      width: 29px;
      cursor: pointer;

      .humb-item {
        background: #FFFFFF;
        border-radius: 4px;
        height: 2px;
        margin-bottom: 4px;

        &:nth-child(2) {
          width: 21px;
        }

        &:nth-child(3) {
          width: 15px;
          margin-bottom: 0;
        }
      }
    }

    .header__logo {
      width: 143.66px;
      height: 40px;
    }

    .header__mobile {
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1.6px solid #FFFFFF;
      background-color: transparent;
      cursor: pointer;
      background-image: url(../media/icon/phone.svg);
      background-size: 14px;
      background-position: center;
      background-repeat: no-repeat;
    }

    .header__nav,
    .header__button {
      display: none;
    }
  }
  // header end
}